body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("img/banner.jpg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.logo {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
}

.handle {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  color: black;
  display: none;
}

h1 {
  font-family: "Qwitcher Grypen", cursive;
  margin: 0;
}

h2 {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 10em;
  margin: 0;
  color: white;
}

h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

button {
  background-color: #9fc131;
  padding: 1.5em 2em 1.5em 2em;
  border-radius: 20em;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;
}

.category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10em 0 10em;
}

.img1 {
  width: 15em;
  height: 15em;
  object-fit: cover;
  margin-top: 2em;
}

.img2 {
  width: 20em;
  height: 20em;
  object-fit: cover;
  margin-top: 2em;
}

h4 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5em;
  font-weight: 400;
  font-size: 1.5em;
}

li {
  font-family: "Poppins", sans-serif;
}

.products {
  border-width: 0.1em;
  border-color: grey;
  border-style: solid;
  padding: 1em;
}

.products:hover {
  background-color: #9fc131;
  color: white;
}

.products-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  nav ul {
    max-height: 0;
  }
  .showing {
    max-height: 100vh;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
  .handle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
  }
  .logo {
    display: none;
  }
  h2 {
    font-size: 4em;
  }
  .img2 {
    width: 15em;
    height: 15em;
  }
  .category {
    padding: 0;
  }
  .products-list{
    display: none;
  }
}
